@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic.otf')
}

body {
    background-image: url('../images/background-turq.png');
    overflow-x: hidden!important
}
header {
    width: 95%;
    margin: 0 auto;
}
button {
    outline-style: none!important
}
label {
    margin: 0
}
a {
    outline: 0
}
a,
a:hover,
a:visited {
    text-decoration: none
}

/* NAV */
.logo-holder {
    width: 100%;
    padding: 50px 0 15px 10px ;
}
.navbar {
    padding: 0;
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    background: transparent;
    margin-bottom: 20px;
}

.nav-link {
    font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
    color: #fff!important;
    text-shadow: 1px 1px #000;
    letter-spacing: 1px;
    font-size: 24px
}
.nav-link-active,
.nav-link:hover {
    color: #dcc08e!important
}

.navbar-toggler {
    border-color: #dcc08e!important
}
.navbar-toggler span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 192, 142, 01)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important
}

.dropbtn {
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #053739;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  color: #dcc08e;
}

.dropdown-content a:hover .custom-style-type{
  color: #9a1d0d;
}

.custom-style-type {
    padding-right: 7px;
    font-size: 18px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #053739;
  border-radius: 5px;
}

#search-form {
    margin-right: 5px;
}

.search-box {
    font-family: Droid Sans, sans-serif;
    background: transparent url('../images/search.png') no-repeat scroll 95%;
    background-color: #0B5357;
    border-bottom: 1px solid #033638!important;
    border-right: 1px solid #023033!important;
    border-radius: 3px;
    width: 166px;
    margin: 10px;
    height: 28px;
    color: grey;
    font-size: 11px;
    font-weight: 700;
    font-style: italic;
    text-indent: 10px;
    border: none
}
.hidden {
    display: none!important
}

/* CONTENT */
#content {
    border-bottom: 1px solid #0D4C50;
    margin: 0 auto;
    min-height: 400px;
    width: 95%;
}

/* SITEMAP */
.sitemap{
  color:white;
  margin-left: -5px;
  font-family: 'Droid Sans', sans-serif !important;
  text-shadow: 1px 1px black  !important;
}

.sitemap a{
  color:white;
}

.breadcrumb{
    background-color: inherit;
    margin-bottom: 5px;
    padding: 0 15px;
}

.breadcrumb > li + li:before {
  color:white !important;
  content: " » " !important;
  padding: 0 5px !important;
}

.breadcrumb-item > a {
    font-size: 12px;
}

.ml-15 {
  margin-left: 15px!important
}

/* Reviews containers home/category/single review */

.navbar-collapse {
    padding: 0;
}
.all-reviews-container {
  height: 400px;
  overflow-y: scroll
}

.reviews-single-review {
  background-color: #fff;
  box-shadow: 2px 2px #000;
  width: auto;
  height: 305px;
  margin-top: 15px;
  margin-left: 8px;
  padding-top: 1px;
}
.single-review-image-containter {
  z-index: 0;
  width: auto;
  height: 111px;
  margin: 5px 5px 5px 5px;
  box-shadow: 0 0 2px 2px black;
  position: relative
}

.botom-line {
    background: url('../images/bottom-line.png');
    height: 9px;
    left: 0;
    width: 100%
}

.da-category,
.single-review-category {
    font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
    color: #fff;
    text-shadow: 1px 1px #000;
    letter-spacing: 2px;
    background-color: #9a1d0d;
    display: inline-block;
    padding: 1px 2px 1px 3px;
    position: absolute;
    right: 0;
    top: 0
}

.single-review-image {
  width: 100%;
  height: 100%
}

.da-date,
.single-review-date {
    font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
    color: #fff;
    text-shadow: 1px 1px 1px grey, -1px -1px 1px grey;
    position: absolute;
    font-size: 42px;
    letter-spacing: 1px;
    top: 20px;
    right: 2px
}

.da-date span,
.single-review-date span {
    display: block
}

.da-date span:nth-child(2),
.single-review-date span:nth-child(2) {
    text-align: right;
    margin-top: -26px
}

/* tags/related  */
.single-review-tags-container {
    margin-bottom: 25px;
    margin-left: 30px;
}

.single-review-tags-container h3,
.single-review-related-container h3 {
    color: #2c2c2c;
    font-family: LeagueGothic;
    font-size: 24px;
    text-transform: uppercase;
}
.single-review-tags-container span {
    background-color: #efefef;
    color: #7f7f7f;
    display: inline-block;
    font-size: 11px;
    margin-bottom: 0.3rem;
    padding: 8px 10px;
    text-shadow: 1px 1px #fff;
    text-transform: uppercase;
}

.single-review-related-container {
    margin-bottom: 30px;
    margin-left: 30px;
}

.single-review-related-container a {
    color: #7a7575;
    text-shadow: none;
    font-size: 13px;
}

.single-review-related-container a::before {
    content: url('../images/sidebar-angle-right-black.png');
    padding-right: 10px;
    vertical-align: text-bottom;
}

.single-review-share-icons-container {
    margin-left: 30px;
    font-size: 13px;
}

.single-review-share-icons-container h3 {
    color: #2c2c2c;
    font-family: LeagueGothic;
    font-size: 24px;
    text-transform: uppercase;
}

.single-review-title {
  color: #9a1d0d;
  overflow: hidden;
  font-size: 32px;
  letter-spacing: 1px;
  margin-top: 5px
}
.single-review-author,
.single-review-title {
  font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
  padding-left: 15px
}
.single-review-author {
  color: #212121;
  font-size: 18px;
  letter-spacing: .5px;
  margin-top: -10px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-review-content {
  font-family: Droid Sans, sans-serif;
  font-size: 13px;
  color: #7a7575;
  text-overflow: clip;
  border-top: 1px dotted #a6a6a6;
  height: 100px;
  padding-bottom: 10px;
  overflow: hidden;
  padding: 10px 10px 0 15px
}

.review-comments-container,
.detailed-review-container {
  background-color: #fff;
  -o-border-image: url('../images/bottom-line.png') 30 round;
  border-image: url('../images/bottom-line.png') 30 round;
  border-top: 9px solid;
  border-bottom: 9px solid
}

.review-comments-container,
.detailed-review-container {
    background-color: #fff;
    box-shadow: 2px 3px 2px black;
    -o-border-image: url('../images/bottom-line.png') 30 round;
    border-image: url('../images/bottom-line.png') 30 round;
    border-top: 9px solid;
    border-bottom: 9px solid;
    margin-left: -35px;
}
.review-comments-container {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 40px;
    box-shadow: 2px 3px 2px black;
}
.comments-count {
    font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
    color: #9a1d0d;
    letter-spacing: 1px;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px dotted black;
}

.da-details {
  margin-bottom: 40px;
}
.da-image-container {
  width: auto;
  height: 185px
}
.da-image {
  width: 100%;
  height: 100%;
  z-index: 1000
}
.da-image-container {
  border: 4px solid #E2E0E0;
  position: relative;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.da-content-container {
  margin-top: 15px
}
.da-content-container h1 {
  color: #9a1d0d;
  letter-spacing: 1px
}
.da-author,
.da-content-container h1 {
  font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif
}
.da-author {
  color: #212121;
  font-size: 20px
}
.da-content {
  font-size: 13px;
  font-family: Droid Sans, sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-top: 15px;
  border-top: 1px dotted #a6a6a6;
  color: #7a7575
}
.bottom-line {
  position: absolute
}

comments-list-container {
    padding: 0 25px;
}
.comments-list-item {
  margin-bottom: 20px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px dotted;
}

.comment-item-info {
  padding-bottom: 20px;
  padding-left: 0;
}

.comment-item-image-container {
  border: 4px solid #E2E0E0;
  position: relative;
  width: 70px;
  height: 70px
}

.comment-author-avatar {
  width: 100%;
  height: 100%
}
.comment-date {
  font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
  color: #fff;
  text-shadow: 1px 1px 1px grey, -1px -1px 1px grey;
  position: absolute;
  font-size: 25px;
  letter-spacing: 1px;
  top: 0;
  right: 10px
}
.comment-date span {
  display: block
}
.comment-date span:nth-child(2) {
  text-align: right;
  margin-top: -16px
}
.comment-item-contnet-container {
  margin-bottom: 25px
}
.comment-item-contnet-container h4 {
  font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
  color: #2c2c2c;
  margin-bottom: 15px;
}

.comment-item-content {
  width: 850px
}
.comment-item-content {
  font-family: Droid Sans, sans-serif;
  color: #7a7575;
  margin-top: -10px;
  height: auto;
  word-wrap: break-word
}

.rc-custom-form div {
  text-align: right;
  margin-top: 5px
}
#submit-comment {
    background-color: #efefef;
    border: none;
    color: #7f7f7f;
    float: right;
    margin-top: 10px;
    margin-right: -20px;
    padding: 8px 12px;
    right: -15px;
    font-size: 13px;
}
.add-comment-container {
  margin-bottom: 20px;
  width: 80%;
}
#comment-box {
  margin-left: 20px;
  background-color: #f6f6f6;
  border: 1px solid #dedede;
  box-shadow: inset 0 0 7px #d6d6d6;
  resize: none;
  font-size: 13px!important;
  width: 100%;
}
.add-comment-container div:first-child {
  font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
  color: #9a1d0d;
  letter-spacing: 1px;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 0;
}
.add-comment-container textarea {
  border: 1px solid #11696E;
  width: 500px;
  box-shadow: inset 2px 2px 1px #e6e5e5;
  background-color: #f6f6f6;
  resize: none
}

.da-share-icons-container {
    margin-top: 25px;
    margin-left: 30px
}
.da-share-icons-container h3 {
    font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
    color: #2c2c2c
}

.image-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar-input {
    background: transparent;
    color: white;
}

/* Single post sidebar */

.sidebar-widgets {
    padding-right: 0;
}

/* profile/login/logout/review */
.profile-message {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

#signin-form,
#signup-form,
#review-form {
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
}

/* pagination */
.pagination-container {
  font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px 0 30px;
  text-shadow: 1px 1px #000;
  color: #fff
}
.pagination-container a {
  color: #fff
}
.pagination-container a:hover {
  color: #dcc08e
}

.pagination-container .selected {
    color: #dcc08e
}
.pages {
  font-size: 24px;
  margin-top: 15px
}
.pages a {
  margin-left: 10px;
  font-size: 30px;
}
#next,
#previous {
  font-size: 50px;
  width: 50px!important
}

/* aside */
aside a {
    text-shadow: 1px 1px #fff;
    width: 230px;
}

.sidebar-widget-container {
    background-color: #e7e7e7;
    box-shadow: 2px 2px 3px black;
    width: 85%;
    margin-bottom: 18px;
}

.sidebar-widget-container h3 {
    color: #9a1d0d;
    font-family: LeagueGothic;
    font-size: 30px;
    margin: 10px 0;
    text-shadow: 1px 1px #fff;
    text-transform: uppercase;
}

.sidebar-widgets-container {
    padding-left: 10px !important;
}

.recent-comments-container,
.recent-posts-container,
.custom-widget-container {
    margin-top: 10px;
    padding: 10px 16px;
    position: relative;
}

.sidebar-widget-content {
    padding: 15px 10px 25px;
}

.sidebar-widget-content-divider {
    border-bottom: 1px dotted #969696;
    left: 1%;
    position: absolute;
    width: 98%;
}

.sidebar-widget-links-container {
    padding: 15px 0 25px;
    font-size: 13px;
}

.sidebar-widget-links-container a::before {
    content: url('../images/sidebar-angle-right.png');
    padding-right: 14px;
}

.sidebar-widget-links-container a {
    line-height: 25px;
}

/* footer */
footer {
  background-color: #0D4C50;
  border-top: 1px solid #0D4C50;
  box-shadow: 0 5px 15px #000;
  padding: 20px 20px 70px;
}

.footer-container {
  margin: auto;
  width: 90%;
}

.footer-widget-header {
  margin-top: 40px;
  font-family: LeagueGothic, Helvetica Neue, Helvetica, Sans Serif;
  text-shadow: 1px 1px #000;
  color: #dcc08e
}

.footer-widget-content-container {
  font-family: Droid Sans, sans-serif;
  font-size: 13px;
  color: #c4c4c4;
  text-shadow: 1px 1px #000!important;
}

.footer-widget-content-container div {
  cursor: pointer;
  padding-bottom: 5px;
}

.footer-widget-content-container div:hover {
  color: #9a1d0d
}

.footer-widget-content-container div:hover .footer-widget-content {
  color: #fff
}

@media (max-width: 990px) {
    .da-image-container {
        margin-right: 30px;
      }
    .da-content-container {
        margin-top: 15px;
        margin-left: 30px;
      }
    .sidebar-widgets {
        display: block;
    }
}

@media (max-width: 640px) {
    .dropbtn {
        padding: 10px 10px 10px 0;
    }
    .col-sm-3 {
        width: 25%;
        float: left;
        padding: 0 10px;
    }
    .col-sm-6 {
        width: 50%;
        float: left;
        padding: 0 10px;
    }
    .col-sm-9 {
        width: 75%;
        float: left;
        padding: 0 10px;
    }
    .category-review-container {
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-widgets-container {
        padding: 0 !important;
    }
    .sidebar-widget-container {
        margin: 10px;
    }
    .footer-widget {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-ts-12 {
        float: none;
        width: 100%;
    }
    .logo-holder {
        width: 100%;
        padding: 30px;
        margin: 0 auto;
    }
    .logo-holder img {
      width: 100%;
    }
}

@media (max-width: 440px) {
    .comment-item-content-container {
        margin-left: 0;
        padding: 0 10px 20px;
    }
}