<div class="container">
    <div class="row">
        <div class="col">
            <div class="single-article-image-containter">
                <img class="single-article-image" src="{{image}}" />
            </div>

            <div class="row">
                {{{title}}}
            </div>

            <div class="row">
                {{author}}
            </div>

            <div class="row">
                {{{content}}}
            </div>
        </div>
    </div>